/* Here is your custom css styles. */
*{
    cursor: url("/medias/cursor/1.ico"),auto!important;
}
:active{
    cursor: url("/medias/cursor/2.ico"),auto!important;
}

@font-face{
    font-family: 'myFont';
    src: url('../font/STZHONGS.TTF');
}

body{
    font-family: 'myFont';
}